#lucas_araujo {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    
    padding: 50px 8%;
    background-color: #181818;
    position: relative;
    align-items: center;
}

#cta {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
}

#cta .description {
    font-size: 1.1rem;
    color: white;
    text-align: justify;
}

.social_media_buttons {
    display: flex;
    gap: 18px;
}

.social_media_buttons a {
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    height: auto;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.social_media_buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(255, 255, 255, 0.1);
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 40%;
    z-index: 3;
}

#banner img {
    width: auto;
    max-height: calc(100vh - 218px);
    border-radius: 20% 20% 20%20%;
}

@media screen and (max-width: 1250px) {
    #lucas_araujo{
        padding-top: 0px;
        min-height: 100%;
    }

    #banner, #banner img, #lucas_araujo {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}