/* CSS */
.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0px 8%;
    text-transform: uppercase;
    background: #181818;
    padding-top: 20px;
}

.navbar_link {
    text-decoration: none;
    color: white;
}

.navbar_item {
    list-style-type: none;
    display: inline;
}

.navbar_item:hover {
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.navbar_container ul li {
    margin-right: 50px;
}

.navbar_container ul li:last-child {
    margin-right: 0;
}

.navbar_schedule_btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #dcbe64;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.navbar_schedule_btn:hover,
.navbar_schedule_btn:focus {
  background-color: #ae814e;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.navbar_schedule_btn:hover {
  transform: translateY(-1px);
}

.navbar_schedule_btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}