.lac-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 258.49px;
    max-height: 186.79px;
    background-color: #181818;
}

.lac-logo-container > .lac-logo-icon {
    max-width: 70px;
    max-height: 70px;  
}

.lac-logo-container > .lac-logo-text {
    max-width: 180.94px;
    max-height: 60.75 px;
    margin-top: -10px;
}